<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=testsiteinfo;AccountKey=0dGJMjtS0vf6PT5cjYntJEfvg/azy+uUPO+e7PofqtUlxmyuF6tzhFWO6aCrcgQS7Hi9NiauUcOm1/jNB6k2sA==" />
    </appSettings>
</configuration>